*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-color: rgb(243, 243, 243);
  --background-color: rgb(245, 245, 245);
  --survey-bg: rgb(245, 245, 245);
  --text-color: #363636;
  --box-shadow: #2c2c2c3d;
  --button: #1f4673;

}


body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  font-size: 0.8rem;
  margin: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


h1,
h2,
h3 {
  color: var(--header-color)
}


h1 {
  font-family: "Playfair Display", serif;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0.4em 0;
  font-style: italic;
}


h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;

}


h3 {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  border-top: 1px solid var(--header-color);
  line-height: 1.5rem;
}